<!DOCTYPE html>
<html>
<head>
  <title>GraphiqlRails</title>
  <%= stylesheet_link_tag "graphiql_rails/graphiql-#{params[:version] || '0.4.5'}" %>
  <%= javascript_include_tag "graphiql_rails/application" %>
  <%= javascript_include_tag "graphiql_rails/graphiql-#{params[:version] || '0.4.5'}" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main" style="height: 100%; width: 100%;">
    Loading...
    <script>
      // Defines a GraphQL fetcher using the fetch API.
      function graphQLFetcher(graphQLParams) {
        return fetch(window.location.origin + '<%= params[:endpoint] %>', {
          method: 'post',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(graphQLParams),
          credentials: 'include',
        }).then(function (response) {
          return response.json();
        });
      }
      var graphiqlRails = new GraphiqlRails();

      // Render <GraphiQL /> into the body.
      ReactDOM.render(
        React.createElement(GraphiQL, {
          fetcher: graphQLFetcher,
          query: graphiqlRails.query,
          variables: graphiqlRails.variables,
          onEditQuery: graphiqlRails.onEditQuery,
          onEditVariables: graphiqlRails.onEditVariables
        }),
        document.getElementById("main")
      );
    </script>
  </div>
</body>
</html>
